<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ApiUri" value="http://Ip.Address.Of.OctoPrint/"/>
    <add key="ApiKey" value="API Key from OctoPrint"/>
    <add key="OBS" value="obs64"/>
    <add key="StartKey" value="1"/>
    <add key="StopKey" value="2"/>
    <add key="EnableLog" value="false"/>
  </appSettings>
</configuration>
